body{
    font-family: sans-serif;
    font-size: 14px;
}

.entete{
    font-family: Arial,sans-serif;
    text-align: center;

}

.entete .adresse{
    text-align: right;

}

.entete, .conteneur{
    background-color: #e8eff7;
    width: 75%;
    margin: 15px auto;
    padding : 14px;

    border-radius: 10px; 
    box-shadow: 14px 14px 5px 0px rgba(108,103,103,0.75);
    -webkit-box-shadow: 14px 14px 5px 0px rgba(108,103,103,0.75);
    -moz-box-shadow: 14px 14px 5px 0px rgba(108,103,103,0.75);
}

h1{
    font-size: 20px;
}
.entete p em span {font-weight: 600; font-style: normal;}

.entete p > span span {font-weight: 500;}

h2{
    color: #fff;
    background-color:#c2d5eb;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.annee{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.conteneur p {
    font-family:cursive
    font-weight: 500;
}